---
layout: nil
---

{% include style.css %}

/* Resume style sheet */
<link rel="stylesheet" type="type/css" href='https://fonts.googleapis.com/css?family=Cardo|Cinzel'>

@font-face {
  font-family: 'Cardo|Cinzel';
  font-style: normal;
  font-weight: 700;
  src: @import url('https://fonts.googleapis.com/css?family=Cardo|Cinzel');
}

@import url("https://fonts.googleapis.com/css?family=Cardo|Cinzel");

html {
  font: "Cardo", Verdana, sans-serif;
  background-color: #F0F0F0;
  color: black;
  width: 100%;
  height: 100%;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;

  max-width: 960px;

  padding: 40px 10px 40px 10px;
}

body {
  /* width: 100%;
  height: 100%;
  color: #ccccb3; */
  font-family: 'Cardo', Verdana, sans-serif;
  font-size: 110%;
}

section {
  background-color: white;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding-right: 50px;
  padding-left: 50px;
  margin: auto;
  max-width: 1020px;
}

header {
  text-align: left;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 180%;
  margin-top: 24px;
  margin-bottom: 28px;
  padding-bottom: 4px;
  border-bottom: 2px solid lightgray;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1 {
  font-family: 'Cinzel', sans-serif;
  font-size: 140%;
}

p {
  font-family: 'Cardo', Verdana, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: darkgrey;
}

.summary {
  width: 85%;
  border: 1px solid darkgreen;
  border-radius: 5px;
  margin: 20px auto; 
  padding: 0px;
}

.firmname {
  font-family: 'Cinzel';
  font-weight: bold;
  color: darkgreen;
  text-transform: initial;
}

.dates {
  font-size: 100%;
  font-style: italic;
}

.location {
  font-family: 'Cardo';
  color: #000000;
  font-size: 100%;
  font-weight: normal;
}

.school {
  font-weight: bold;
  color: #ff8f00;
}

.jobtitle {
  font-family: 'Cardo', Verdana, sans-serif;
  float: right;
  font-style: italic;
  color: black;
  font-size: 100%;
  font-weight: normal;
}

.bullets {
  text-align: center;
  margin-top: 18px;
  margin-bottom: 18px;
}

img {
  height: 40px;
  width: 40px;
}
